.App {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
  gap: 16px;
}

.TodoList {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  gap: 8px;
}

.TodoItem {
  display: flex;
  padding: 8px;
  gap: 8px;
  border-radius: 4px;
}

.TodoItem--Incomplete {
  background-color: lightblue;
}

.TodoItem--Completed {
  background-color: lightgrey;
}

.TodoItem__Text {
  flex-grow: 1;
}

.TodoItem__Text--Completed {
  text-decoration: line-through;
}
