.App {
  min-height: 100vh;
  background-color: #eeeeee;
}

.AppBar {
  background-color: #dddddd;
  display: flex;
  padding-left: 24px;
  align-items: center;
}

.AppBar__Heading {
  font-size: 24px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.AppBar__NewButton {
  margin-left: 40px;
  padding: 8px 16px;
  border: 1px solid black;
}

.NotesCanvas {
  padding: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.Note {
  padding: 16px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Note--Personal {
  background-color: #ffff00;
}

.Note--Work {
  background-color: #ff99ff;
}

.Note__Textarea {
  background-color: transparent;
  width: 100%;
  flex-grow: 1;
  border: none;
  font-family: sans-serif;
  resize: none;
}

.Note__Footer {
  display: flex;
  justify-content: space-between;
}

.Note__Dropdown {
  padding: 4px 8px;
  background-color: transparent;
  border: 1px solid black;
}

.Note__Button {
  padding: 4px 8px;
  border: 1px solid black;
  background-color: transparent;
}
